<h2>Built-in Pipes Demo</h2>
<p><b>Original Text:</b> {{ 'Hello World' }}</p>
<p><b>Uppercase:</b> {{ 'Hello World' | uppercase }}</p>
<p><b>Lowercase:</b> {{ 'Hello World' | lowercase }}</p>
<p><b>Date:</b> {{ today | date }}</p>
<p><b>Currency:</b> {{ price | currency:'USD':true }}</p>
<p><b>JSON:</b> {{ obj | json }}</p>

<br>

<h2>Parameterized Pipes Demo</h2>
<p><b>Slice:</b> {{ 'Angular Pipes' | slice:0:7 }}</p>
<p><b>Custom Date Format:</b> {{ today | date:'fullDate' }}</p>
<p><b>Currency with Code:</b> {{ price | currency:'EUR' }}</p>

<br>

<h2>Custom Pipe Demo</h2>
<p><b>Titlecase:</b> {{ 'angular custom pipe' | titlecase }}</p>

<br>

<h2>Impure Pipe Demo</h2>

<p><b>Titlecase Object Name:</b> {{ obj.name | titlecase }}</p>
<button (click)="updateName()">Update Name</button>

<br>
<input type="text" #name>
<ul>
  <li>
  </li>
</ul>